.doctor-detail-page {
  margin-top: 11rem;
  min-height: 100vh;
  font-family: sans-serif;
}

.status {
  font-weight: bold;
  margin-top: 10px;
}

.status.available {
  color: rgb(0, 255, 0);
}

.status.unavailable {
  color: red;
}
.doctor-card-detail {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #3b4bff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  margin-top: 2rem;
}

.doctor-photo {
  width: 160px;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.doctor-info-detail h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.doctor-info-detail p {
  margin: 0.25rem 0;
}



.appointment-button {
  background-color: #111827;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-top: 0.75rem;
  cursor: pointer;
}
